/* Cambios en los colores */
:root {
    --color-back: linear-gradient(to right, var(--color-back-start), var(--color-back-end));
    --color-back-start:#1a1a1a;
    --color-back-end:#000000;
    --color-blue-1:#00e6e6;
    --color-blue-2:#004d4d;
    --color-brown-1:#ff9900;
    --color-brown-2:#663300;
    --color-white-1:#ffffff;
}

/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--color-back);
    color: var(--color-blue-1);
}

/* Encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-blue-2);
}

.logo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 50px;
}

.logo p {
    padding: 10px;
    background-color: var(--color-brown-1);
    border-radius: 5px;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-brown-1);
}

.navegation ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 5rem;
    justify-content: center;
    align-items: center;
}

.navegation li {
    margin-left: 0.2rem;
    border-radius: 5rem;
}

.navegation a {
    text-decoration: none;
    color: var(--color-blue-1);
    font-weight: bold;
    padding: 10px 15px;
    transition: 1s;
    border-radius: 5rem;
}

.navegation a:hover {
    color: var(--color-back);
    background-color: var(--color-brown-1);
    border-radius: 5px;
    padding: 15px 20px;
}

.navegation ul li img{
    height: 60px;
}

/* Contenedor principal */
main {
    padding: 4rem;
}

/* Sección del juego */
.game-container {
    position: relative;
    padding: 18rem;
    text-align: center;
    background-color: var(--color-blue-1);
    border: 10px solid var(--color-blue-2);
    border-radius: 3rem;
    cursor: pointer;
    transition: transform 1.5s ease;
    margin-top: 3rem;
}

.game {
    padding: 2rem;
    background-color: var(--color-brown-1);
    border: 10px solid var(--color-blue-2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrar el elemento exactamente */
    cursor: pointer;
    transition: 1.5s;
    padding-block: 0;
    border-radius: 3rem;
}

.game.clicked {
    pointer-events: none; /* Deshabilita la interacción del botón */
    opacity: 0;
}

.game:hover {
    transform: translate(-50%, -50%) scale(1.5); /* Ampliar en un 10% */
}

.game p {
    font-size: 1.5rem;
    color: var(--color-blue-2);
}

.game .additional-functionality {
    display: none;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-blue-1);
    border: 2px solid var(--color-brown-1);
    border-radius: 10px;
    padding: 20px;
    z-index: 1;
    margin-top: 20px;

}

.game .additional-functionality p {
    font-size: 1rem;
    color: var(--color-white-1);
}

.game:hover .additional-functionality {
    display: block;
}

/* Estilos para el contenedor de configuración de jugadores y rondas */
.additional-functionality {
    display: none; /* Inicialmente oculto */
    position: absolute;
    top: 50%; /* Posición vertical en el centro */
    left: 50%; /* Posición horizontal en el centro */
    transform: translate(-50%, -50%); /* Centrar el elemento exactamente */
    background-color: var(--color-blue-2);
    border: 2px solid var(--color-brown-1);
    border-radius: 10px;
    padding: 20px;
    z-index: 1;
    opacity: 0;
    transition: opacity 10s ease;
    max-width: calc(100% - 40px); /* Ancho máximo relativo al 100% del contenedor menos el doble del padding */
    max-height: calc(100% - 40px); /* Altura máxima relativa al 100% del contenedor menos el doble del padding */
    overflow: auto;
}

.additional-functionality.show {
    opacity: 1;
}

/* Información de los jugadores */
.player-info-container {
    display: none;
    position: absolute;
    top: 30%;
    left: 2%;
    transform: translateY(-50%);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.800);
    border-radius: 5px;
    transition: opacity 10s ease; /* Transición de opacidad */
}

.player-info {
    margin-bottom: 10px;
    font-size: 14px;
}

.round-info {
    display: flex;
    position: absolute;
    top: -40px; /* Ajustar la posición según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 0, 0, 0.5); /* Color de fondo */
    padding: 5px 10px;
    border-radius: 5px;
    color: white; /* Color de texto */
}

/* Estilos para el botón "Iniciar Juego" */
.start-game {
    position: absolute;
    top: 55%;
    left: calc(50% + 200px); /* Ajusta la posición horizontal */
    transform: translate(-50%, -50%);
    padding: 2rem;
    background-color: var(--color-brown-1);
    border: 10px solid var(--color-blue-2);
    cursor: pointer;
    transition: 1.5s;
    border-radius: 3rem;
    z-index: 1; /* Asegura que esté por encima del fondo */
}

.start-game:hover {
    transform: translate(-50%, -50%) scale(1.5); /* Ampliar en un 10% */
}

.start-game p {
    font-size: 1.5rem;
    color: var(--color-blue-2);
}

/* Sección de información */
.info {
    margin-top: 2rem;
}

.title_1 {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-white-1);
    margin-bottom: 0.5rem;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-brown-1);
    margin-bottom: 0.5rem;
}

.text {
    color: var(--color-blue-1);
    line-height: 1.5;
}

/* Estilos para el contenedor de opciones de tema */
.tema-options {
    position: absolute;
    top: 50%;
    left: calc(50% + 100px); /* Desplazar más a la derecha */
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    text-align: center; /* Centrar contenido */
}

/* Estilos para los botones de tema */
.tema-option {
    padding: 2rem;
    background-color: var(--color-brown-1);
    border: 10px solid var(--color-blue-2);
    cursor: pointer;
    transition: transform 1.5s ease;
    border-radius: 3rem;
    font-family: Arial, sans-serif; /* Tipo de letra */
    text-align: center; /* Centrar contenido */
}

.tema-option:hover {
    transform: scale(1.1); /* Ampliar en un 10% */
}

.tema-option p {
    font-size: 1.5rem;
    color: var(--color-blue-2);
    font-family: Arial, sans-serif; /* Tipo de letra */
}

/* Estilos adicionales */

/* Contenedor principal del juego */
.game-container {
    position: relative;
    padding: 18rem;
    text-align: center;
    background-color: var(--color-blue-1);
    border: 10px solid var(--color-blue-2);
    border-radius: 3rem;
    cursor: pointer;
    transition: transform 1.5s ease;
    margin-top: 3rem;
}

/* Contenedor de las opciones de tema */
.tema-options {
    position: absolute;
    top: 50%;
    left: calc(50% + 100px); /* Desplazar más a la derecha */
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    text-align: center; /* Centrar contenido */
}

/* Estilos para los botones de tema */
.tema-option {
    padding: 2rem;
    background-color: var(--color-brown-1);
    border: 10px solid var(--color-blue-2);
    cursor: pointer;
    transition: transform 1.5s ease;
    border-radius: 3rem;
    font-family: Arial, sans-serif; /* Tipo de letra */
    text-align: center; /* Centrar contenido */
}

/* Estilos para las instrucciones */
.instrucciones {
    background-color: #004d4d;
    padding: 0.5rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    color: var(--color-blue-1);
    font-family: Arial, sans-serif; /* Tipo de letra */
    position: relative;
    top: 30%; /* Mover hacia arriba */
    left: 155%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%);
}

/* Estilos para las instrucciones */
.instrucciones {
    background-color: #004d4d;
    padding: 0.5rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    color: var(--color-blue-1);
    font-family: Arial, sans-serif; /* Tipo de letra */
    position: relative;
    top: 30%; /* Mover hacia arriba */
    left: 155%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%);
}

/* Pie de página */
footer {
    padding: 1rem;
    text-align: center;
    background-color: var(--color-blue-2);
    color: var(--color-blue-1);
}

.about-us a {
    color: var(--color-brown-1);
}

.about-us a:hover {
    color: var(--color-brown-2);
}
